@model IEnumerable<BeautySalon.Models.Producto>

@{
    ViewData["Title"] = "Index";
}
@if (TempData["ErrorMessage"] != null)
{
    <div id="errorMessage" class="alert alert-danger" role="alert">
        <span style="color: red; font-size: 20px; font-weight: bold;">&times;</span>
        @TempData["ErrorMessage"]
    </div>

    <script>
        // Espera 5 segundos (5000 ms) y luego oculta el mensaje
        setTimeout(function () {
            var messageDiv = document.getElementById("errorMessage");
            if (messageDiv) {
                messageDiv.style.display = "none";
            }
        }, 5000);
    </script>
}

<body style="background-color:#F5F5F5;">
</body>
<head>
    <link rel="stylesheet" href="~/css/Crud.css" />
</head>
<h1>PRODUCTO</h1>

<p>
    <a href="/Producto/Create" class="btn" style="background-color: #D8BFD8; color: white;">Crear producto</a>

</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card h-100" style="width: 100%;">
                    <img src="@item.Imagen" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Nombre</h5>
                        <p class="card-text">@item.Marca @item.Descripcion @item.PrecioUnitario</p>
                        <div class="btn-group btn-group-sm" role="group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalles</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



