@model BeautySalon.Models.DetalleVenta

@{
    ViewData["Title"] = "Eliminar Detalle de Venta";
}
<div style="background-color: #F5F5F5; padding: 20px; border-radius: 8px;">
    <h1 class="text-center text-danger">Eliminar detalleVenta</h1>
    <h3 class="text-center">¿Deseas eliminar este registro?</h3>
    <div class="container" style="border: 1px solid #ddd; padding: 20px; border-radius: 8px; background-color: white;">

        <dl class="row mb-4">
            <dt class="col-sm-4 font-weight-bold">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Precio)
            </dd>

            <dt class="col-sm-4 font-weight-bold">
                @Html.DisplayNameFor(model => model.Suma)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Suma)
            </dd>

            <dt class="col-sm-4 font-weight-bold">
                @Html.DisplayNameFor(model => model.Cantidad)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Cantidad)
            </dd>

            <dt class="col-sm-4 font-weight-bold">
                @Html.DisplayNameFor(model => model.IdProductoNavigation)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.IdProductoNavigation.Id)
            </dd>

            <dt class="col-sm-4 font-weight-bold">
                @Html.DisplayNameFor(model => model.IdVentaNavigation)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.IdVentaNavigation.Id)
            </dd>
        </dl>

        <form asp-action="Delete" class="text-center mt-4">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger mr-2" style="width: 120px;" />
                <a asp-action="Index" class="btn btn-success" style="width: 120px;">Atrás</a>
        </form>
    </div>
</div>
