@model BeautySalon.Models.DetalleVenta

@{
    ViewData["Title"] = "Detalles";
}

<body style="background-color:#F7F9FC;">
    <div style="background-color: #FFFFFF; padding: 20px; border-radius: 8px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
        <h1 class="text-center" style="color: #5E35B1;">Detalles</h1>

        <div class="detalle">
            <hr />

            <div class="detalle-item">
                <strong>@Html.DisplayNameFor(model => model.Precio):</strong>
                @Html.DisplayFor(model => model.Precio)
            </div>

            <div class="detalle-item">
                <strong>@Html.DisplayNameFor(model => model.Suma):</strong>
                @Html.DisplayFor(model => model.Suma)
            </div>

            <div class="detalle-item">
                <strong>@Html.DisplayNameFor(model => model.Cantidad):</strong>
                @Html.DisplayFor(model => model.Cantidad)
            </div>

            <div class="detalle-item">
                <strong>@Html.DisplayNameFor(model => model.IdProductoNavigation):</strong>
                @Html.DisplayFor(model => model.IdProductoNavigation.Id)
            </div>

            <div class="detalle-item">
                <strong>@Html.DisplayNameFor(model => model.IdVentaNavigation):</strong>
                @Html.DisplayFor(model => model.IdVentaNavigation.Id)
            </div>
        </div>

        <!-- Botones -->
        <div class="botones">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning boton-editar">Editar</a>
            <a asp-action="Index" class="btn btn-success boton-atras">Atrás</a>
        </div>
    </div>
</body>
<style>
    .detalle {
        max-width: 600px;
        margin: auto;
        padding: 20px;
        background-color: #f5d1c8;
        border-radius: 8px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .detalle-item {
        background-color: #ffe6e1;
        padding: 10px;
        margin: 10px 0;
        border-radius: 6px;
        border: 1px solid #e0bfb7;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }

        .detalle-item strong {
            font-weight: bold;
            color: #333;
        }

    .botones {
        text-align: center;
        margin-top: 15px;
    }

    .boton-editar, .boton-atras {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px 5px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

    .boton-editar {
        background-color: #FFD54F;
    }

    .boton-atras {
        background-color: #4CAF50;
    }
</style>
