@model BeautySalon.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}
<div style="background-color: #F5F5F5; padding: 20px; border-radius: 8px;">
    <h1 class="text-center text-danger">Eliminar Usuario</h1>
    <h3 class="text-center">¿Deseas eliminar este registro?</h3>
    <div class="container" style="border: 1px solid #ddd; padding: 20px; border-radius: 8px; background-color: white;">
        <h4 class="text-primary">Detalles del Usuario</h4>
        <dl class="row mb-4">
            <dt class="col-sm-3 font-weight-bold">Nombre</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>

            <dt class="col-sm-3 font-weight-bold">Apellido</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Apellido)</dd>

            <dt class="col-sm-3 font-weight-bold">Login</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Login)</dd>

            <dt class="col-sm-3 font-weight-bold">Password</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Password)</dd>

            <dt class="col-sm-3 font-weight-bold">Estatus</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Estatus)</dd>

            <dt class="col-sm-3 font-weight-bold">Fecha de Registro</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.FechaRegistro)</dd>

            <dt class="col-sm-3 font-weight-bold">Rol</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.IdRolNavigation.Id)</dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="text-center">
                <input type="submit" value="Eliminar" class="btn btn-danger mr-2" style="width: 120px;" />
                <a asp-action="Index" class="btn btn-success" style="width: 120px;">Cancelar</a>
            </div>
        </form>
    </div>
</div>
