@model IEnumerable<BeautySalon.Models.Rol>

@{
    ViewData["Title"] = "Index";
}
@if (TempData["ErrorMessage"] != null)
{
    <div id="errorMessage" class="alert alert-danger" role="alert">
        <span style="color: red; font-size: 20px; font-weight: bold;">&times;</span>
        @TempData["ErrorMessage"]
    </div>

    <script>
        // Espera 5 segundos (5000 ms) y luego oculta el mensaje
        setTimeout(function () {
            var messageDiv = document.getElementById("errorMessage");
            if (messageDiv) {
                messageDiv.style.display = "none";
            }
        }, 5000);
    </script>
}
<body style="background-color:#FADAD1;">
</body>
<head>
    <link rel="stylesheet" href="~/css/Crud.css" />
</head>

<h1>ROL</h1>

<p>
    <a href="/Rol/Create" class="btn btn-success">Crear Rol</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
