@model IEnumerable<BeautySalon.Models.Rol>

@{
    ViewData["Title"] = "Index";
}
<body style="background-color:#FADAD1;">
</body>
<head>
    <link rel="stylesheet" href="~/css/Crud.css" />
</head>

<h1>ROL</h1>

<p>
    <a href="/Rol/Create" class="btn btn-success">Crear Rol</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
